# Proxies internal HTTP requests to HTTPS github api
server {
  location /health {
    return 200;
    access_log off;
  }
  listen 8000;
  location / {
    #GITHUB_ENTERPRISE_REWRITE rewrite ^/(.*) /api/v3/$1 break
    proxy_set_header HOST {GITHUB_DOMAIN};
    proxy_set_header "User-Agent" "runnable-github-proxy";
    proxy_pass {GITHUB_PROTOCOL}://{GITHUB_DOMAIN};
  }
}
